@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Optima Sensor Alarm</h1>
    <p class="lead">Web Application to check and control home sensors.</p>
    <p><a href="http://vikasgomia.blogspot.com" class="btn btn-primary btn-lg">Vikas &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <div >
            <ul>
                <li>@Html.ActionLink("SendC2DMessage", "SendMessage", "SendC2D")</li>
                <li>@Html.ActionLink("SendNotification", "SendToastMessage", "Notifications")</li>
                <li>@Html.ActionLink("GetState", "Contact", "Value")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
